body {
    width: 80%;
    padding: 157px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: arial, sans-serif;
}

.logo {
    width: 272px;
    height: 92px;
}

.country {
    font-size: 16px;
    color: #4285f4;
    position: relative;
    top: -20px;
    left: 105px;
}

.field {
    position: relative;
}


.search {
    width: 464px;
    height: 38px;
    padding: 0 10px;
    font-size: 18px;
}

.keyboard {
    width: 19px;
    height: 11px;
    position: absolute;
    top: 15px;
    right: 32px;
    background: url('../img/keyboard.png') no-repeat center;
    background-size: 19px 11px;
}

.voice {
    width: 26px;
    height: 28px;
    position: absolute;
    top: 9px;
    right: 1px;
    background: url('../img/voice.png') no-repeat -3px 0;
    background-size: 26px 24px;
}

.buttons {
    margin-top: 20px;
}

.submit {
    height: 36px;
    width: 134px;
    border: 1px solid transparent;
    background-color: #f8f8f8;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    padding: 0 16px;
    text-align: center;
    border-radius: 2px;
    color: #757575;
}

.submit:hover {
    border: 1px solid #c6c6c6;
    color: #222;
}

.result {
    background-color: #f8f8f8;
}

.result a {
    margin: 10px;
}
